
/* box around heading */
.boxed {
    border: 8px solid rgb(128, 0, 60) ;
    border-radius: 10px;
    text-align: center;
  
  }

/*black background color to the top nav bar */
.topnav {
  background-color: #333;
  
}

/* Style links on nav bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change color of the link when you hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* active link */
.topnav a.active {
  background-color:#4CAF50;
  color: white;

}


/*quote*/
  h1 {
    color:rgb(6, 128, 111) ;
    margin-left: 20px; }
   
    h1 {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    
      
  }    

  .form {
    text-align: right;
    padding: 14px 16px;
    color: white
  }